Tienda/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_CP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_MP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo_P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion_P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado_P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagen_P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio_P" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock_P" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfClase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clase" nillable="true" type="tns:Clase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClase" nillable="true" type="tns:ArrayOfClase" />
  <xs:complexType name="Clase">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_cp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_cp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_cp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clase" nillable="true" type="tns:Clase" />
  <xs:complexType name="ArrayOfMarca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marca" nillable="true" type="tns:Marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarca" nillable="true" type="tns:ArrayOfMarca" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_mp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_mp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
</xs:schema>