Tienda/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58544/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" />
  <xs:import schemaLocation="http://localhost:58544/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web" />
  <xs:element name="listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="listadoResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="clasesResult" nillable="true" type="q2:ArrayOfClase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marcas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="marcasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="marcasResult" nillable="true" type="q3:ArrayOfMarca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="reg" nillable="true" type="q4:Producto" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Web" minOccurs="0" name="archivo" nillable="true" type="q5:HttpPostedFileBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="reg" nillable="true" type="q6:Producto" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Web" minOccurs="0" name="archivo" nillable="true" type="q7:HttpPostedFileBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idprod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idprod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WFCTienda.Modelo" minOccurs="0" name="BuscarResult" nillable="true" type="q8:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>